@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Abel", sans-serif;
}

:root {
    --cor-primaria: red;
    --cor-secundaria: rgb(61, 23, 197); 
    --cor-terciaria:#73AD21; 
}
 

body {
    height: 100vh;
    background-image:url(/assets/ceu\ red.jpg);
    color: white;
    text-align: center;
    box-sizing: border-box;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
h1{
    font-size: 50px;
}
strong{
   color: var(--cor-secundaria);
   font-weight: bold;
   border: 2px solid var(--cor-primaria);
   padding: 5px;
   margin: 5px;
}
P{
    font-family: verdana;
    font-size: 20px;
}
.sobre-mim{
    font-family: verdana;
    font-size: 20px;
}
.imagem{
    width: 400px;
    height:400px;
    border-radius: 25px;
    border: 2px solid #73AD21;
    margin-top: 15px;
}
.botao{
    border: solid 1px blue;
    border-radius: 20px;
    color: blue;
    background-color: rgb(245, 239, 239);
}
.pricipal{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 25px;
    align-items: center;
 
}
.apresentacao{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    margin: 0 15%;
}

.botao{
    border: solid 2px #bb1bae;
    border-radius: 30px;
    color: rgb(5, 5, 37);
    background-color: hsl(180, 25%, 70%);
    width: 250px;
    font-size: 25px;
    font-weight: 800;
}
/* tem menu de contexto */
a:hover {
    border-color: #4daa14;
    background-color: rgb(208, 49, 49);
}
.rodape{
    padding: 25px;
    color:#effdff;
    background-color: #5c3fee;
}
.cabecalho{
    padding: 2% 0 0 15%
}
.cabecalho_menu {
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link {
    font-size: 24px;
    font-weight: 600;
    color: #5c3fee;
}
@media(max-width:1200px){
    .apresentacao{
        margin: 0 10%;
    }
    .cabecalho{
        padding: 5%;
    }
    .cabecalho_menu{
        justify-content: center;
    }
}
